
body {
    background-image: url("../styles/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
 }
 .Title{
     font-family: 'Bowlby One SC', cursive;
     font-size: 3rem;
     text-align:center;
     color:white;
     text-shadow: 0.2rem 0.2rem 0.4rem black;
 }
 div{
     margin: 0 auto;
     border: white;
     border-style: solid;
     border-width: 1rem;
     padding: 0rem 2.5rem 2.5rem 2.5rem;
     max-width: 40rem;
     background-color:white;
     font-family: Sans-serif;
 }
 .date{
     text-decoration: underline;
     text-transform: uppercase;
     font-family: Arial, Helvetica, sans-serif;
     letter-spacing: 0.3rem;
     line-height: 1.8;
     color: rgb(16, 16, 100);
     margin: 5rem 0 1rem 0;
     font-size: 1 rem;
 }
 .quote{
     text-transform: capitalize;
     font-style: oblique;
     font-size: 0.8rem;
     letter-spacing: 0.1rem;
 }
 h1{
     font-weight: bold;
     letter-spacing: 0.2rem;
     color: rgb(14, 14, 66);
     font-family: Sans-serif;
 }
 p{
     font-size: 0.9rem;
 }
 .article{
     margin: 5rem 0 0 0;
 }
 .words{
     text-indent: 1rem;
 }
 .footer{
    text-align:center;
    margin: 0 0 0 0;
    color: white;
    font-weight: bolder;
    border:white ;
    max-width: 100rem;
    background-color:blue;
    font-family: Sans-serif;
    font-size: 5rem;
 }
 
 